.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


/* li {
  border:5px solid blue;
} */

.react-tabs__tab-list {
  /* border:5px solid green; */
}

.react-tabs__tab {
  margin-right: 50px;
  color:white;
  width:5%;
  border-radius: 100%;
  background: rgb(0, 32, 231);
  margin-top:-12.5%;
}

.react-tabs__tab:before {
   display:inline-block;
    padding-top:50%;
    padding-bottom:50%;
    content:'';
    margin:0 -0.25em;
    vertical-align:middle;
}

.react-tabs{
  background-color: rgb(248, 250, 255);
}

.container {
    width:100%;
    background: rgb(0, 32, 231);
    line-height:.5em;
    height:.3em;
    text-align:center;
    margin-top:25%;
}
